.container {
	width: 90%;
}

#div-buscar {
	display: block;
}

#div-datos, #div-btn-datos {
	display: none;
}


#div-btn-buscar {
	margin-top: 30px;
}

#div-btn-cancelar {
	margin-top: 20px;
}

#div-btn-actualizar {
	margin-top: 20px;
}

#div-btn-borrar {
	margin-top: 20px;
}

#div-btn-añadir {
	margin-top: 50px;
}

#titulo1, #titulo2 {
	margin-top: 50px;
	margin-bottom: 20px;
	color: gray;
	font-weight: bold;
}

#btn-regresar {
	margin-top: 50px;
}

.btns {
	width: 100%;
}

.card-image {
	text-align: center;
}
