#titulo {
	color: gray;
	font-weight: bold;
	font-size: 20px;
}

.btn {
	width: 100%;
}

#div-btn-cancelar {
	margin-top: 20px;
}

.imagen {
	cursor: pointer;
}

#div-control, #div-botones {
	margin-top: 80px;
}